.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.country {
    border: 2px solid darkorange;
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
}
.country img{
    width: 260px;
}